@model UploadImages.Models.ImageModel

@{
    ViewData["Title"] = "Image Details";
}

<h1>Image Details</h1>

<div style="max-width: 600px; margin: auto; border: solid; padding: 20px;">
    <img src="@Model.Url" alt="@Model.Name" style="width: 100%; max-height: 400px;" />
    <p><strong>Description:</strong> @Model.Description</p>
    <p>
        <strong>Tags:</strong>
        @if (Model.ImageTagModels != null && Model.ImageTagModels.Any())
        {
            @string.Join(", ", Model.ImageTagModels.Select(it => it.Tag.Name))
        }
        else
        {
            <span>No tags</span>
        }
    </p>
    <p><strong>Uploaded:</strong> @Model.UploadDate</p>
    <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" style="background-color: orange; color: white; padding: 5px 10px; text-decoration: none;">Edit</a>
    <a asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@Model.Id" style="background-color: red; color: white; padding: 5px 10px; text-decoration: none;">Delete</a>


    <a asp-controller="Home" asp-action="Uploaded">Back to Uploaded Images</a>
</div>
